@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}


body{
    
}

#container{
    margin: 0 auto;
    max-width:1366px ;
}
.container-login{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: #6f1f41;
    justify-content: center;
    align-items: center;
}


.container-login .login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255,.8);
    height: 290px;
    width: 300px;
    
    border-radius: 10px;
}


.container-login .login div{
    margin: 10px 0
    
}

.container-login .login div label{
    display: block;
    
}

.container-login .login div label span{
    font-size:13px;
    color:red;
    font-weight:bold;
    margin-left:5px
}

.container-login .login div input{
    outline: none;
    border:2px solid grey;
    font-size: 16px;
    padding:2px 10px
    
}

.container-login .login div input.errado{
  
    border:2px solid rgb(247, 0, 0);
    background-color: rgba(255, 0, 0,.03)
   
    
}


.container-login .login input[type=submit]{
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 10px 55px;
    width: 100%;
    background-color: #0093d7;
    color: white;
    font-weight: bold;
}

.error-mensagem{
    background-color: red;;
    padding: 5px 0;
    text-align: center;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #6f1f41;
    height: 60px;
    align-items: center;
    color:white
}


header p{
    margin-left: 20px
}

header a:last-child{
    margin-right: 20px;
    color:black;
    background-color: white;
    padding: 10px 17px;
    border-radius: 100%/700px;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}


body{
    
}

#container{
    margin: 0 auto;
    max-width:1366px ;
}
.container-login{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: #6f1f41;
    justify-content: center;
    align-items: center;
}


.container-login .login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255,.8);
    height: 290px;
    width: 300px;
    
    border-radius: 10px;
}


.container-login .login div{
    margin: 10px 0
    
}

.container-login .login div label{
    display: block;
    
}

.container-login .login div label span{
    font-size:13px;
    color:red;
    font-weight:bold;
    margin-left:5px
}

.container-login .login div input{
    outline: none;
    border:2px solid grey;
    font-size: 16px;
    padding:2px 10px
    
}

.container-login .login div input.errado{
  
    border:2px solid rgb(247, 0, 0);
    background-color: rgba(255, 0, 0,.03)
   
    
}


.container-login .login input[type=submit]{
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 10px 55px;
    width: 100%;
    background-color: #0093d7;
    color: white;
    font-weight: bold;
}

.error-mensagem{
    background-color: red;;
    padding: 5px 0;
    text-align: center;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #6f1f41;
    height: 60px;
    align-items: center;
    color:white
}


header p{
    margin-left: 20px;
    display: flex;
    align-items: center;
}

header a:last-child{
    margin-right: 20px;
    color:black;
    background-color: white;
    padding: 10px 17px;
    border-radius: 100%/700px;
}

header a:first-child{

margin-right: 10px;

color:white;

font-weight:bold;

font-size:34px;

/* margin-bottom:4px; */

position: relative;

bottom: 3px;
}


section.turmas{
    background-color: #8f2a54;
   
}


section.turmas h1{
    color: #fff;
    text-align: center;
    padding: 15px 0
}

section.turmas div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section.turmas div h3{
    display:flex;
    align-items:center;
    justify-content: center;
   color:white;
    width:100%;
    height:50px;
    font-size: 17px;
}

section.turmas div a{ 
    background-color: white;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    font-weight: bold;
    color: black;
    margin: 10px;
    font-size: 20px;
    border-radius: 5px
}

section.alunos{
    
    height: 100vh;
}

section.alunos h1{
    text-align: center;
    padding: 15px 0 0 0
}

section.alunos p{
    font-size: 14px;
    text-align: center;
    padding: 0 0 15px 0
}

.alunos table{
    background-color: antiquewhite;
    width: 100%;
}

.alunos table tr{
    background-color: #8f2a54;
    width: 100%;
    height: 40px;
    text-align: center;
    color: white;
}

.alunos table tbody tr{
    cursor: pointer;
}

.alunos table tr td:nth-child(1){
    width: 30px;
    
}

.alunos table tr td:nth-child(2){
    max-width: 10vw;
    
}

.alunos table tr td:last-child{
    width:9vw;
}

.nota-table{
    width:9vw;
   
}

tr:nth-child(even){
    background-color: #bb3a70;
    width: 100%;
}


.alunos table thead tr{
    background-color: #6f1f41;
    width: 100%;
    height: 50px;
}

.alunos table tr td p{
    line-height: 40px;
    height: 40px;
    font-size: 16px !important;
    max-width: 70vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    
    
}

.alunos table tr td:last-child p{
    
    font-size: 13px !important;
    
    max-width: 90%
    
}

.modal{
   
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
   
    
}

.modal.modal-ativo{
    display: block;
}

.fundo-modal{
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    top: 0;
    bottom: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 1;
}


.fundo-modal + div{
    position: absolute;
    background-color: white;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translateX(-50% )  translateY(-50% );
    border-radius:  10px 10px
}

.fundo-modal + div form{
    display: flex;
    justify-content: center;
    width: 300px;
    flex-wrap: wrap;
}

.nota-input{
    padding: 10px 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nota-input label{
    display: block;
    text-align: center
}

.nota-input input{
    font-size: 16px;
    width: 50px;
    padding: 4px;
    outline: none;
    border: 1px solid black;
    text-align: center
}

.modal input[type=submit]{
    width: 170px;
    height: 40px;
    background-color: purple;
    border: 0;
    color: white;
    font-weight: bold;
    cursor: pointer
}

.modal form + p{
    margin: 0 auto;
    color: black;
    text-align: center;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.modal span strong{
    display: block;
  
}

.tabs{
    width: 100%;
    position: relative;
    bottom: 20px;
    display: flex;
}

.tabs a{
    display: inline-block;
    background-color: white;
    height: 50px;
    line-height: 50px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    color:black;
}

.tabs a.tab-ativo{
    background-color: rgb(214, 212, 212);
    font-weight: bold;
    color: rgb(63, 63, 63)
}

.tabs a.bi{
    width: calc(100%/ 4);
}

.tabs a.tri{
    width: calc(100%/ 3);
}

.tabs a.semes{
    width: calc(100%/ 2);
}


.boletim{
    display: flex;
    flex-direction: column;
}

.boletim .info{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 7px 0;
   
}

.boletim .info p {
padding-right:6px
}

.boletim .info p strong{
    margin-right: 5px
}

.boletim .materia{
    display: flex;
    background-color: #bb3a70;
    color: white
}

.materia:nth-child(odd){
    background-color: #7a1e44;
}


.boletim .materia h3{
    width: 60%;
    word-wrap: break-word;
    font-size: 16px;
    text-align: center;
  
}


.boletim .materia div{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    
   
}

.boletim .materia div span{
   
width: 100%;
   
text-align: center;
}

@keyframes aparecerDesaparecer{
    0%{top: -100px;}
    25%{top: 50px;}
    75%{top: 50px;}
    100%{top: -100px;}
}

.alerta{
    z-index: 999;
    display: flex;
    align-items: center;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: fixed;
    top: -100px;
    left: 50%;
    transform:  translateX(-50%);
    border-radius: 5px;
    padding: 10px;
    color:white;
    animation-name: aparecerDesaparecer;
    animation-duration: 4s;
    /* animation-iteration-count:infinite; */
}

.alerta.deuCerto{
    background-color: #22e677;
    border-left: 5px solid #09d261;
}

.alerta.deuErrado{
    background-color: #f32723;
    border-left: 5px solid #ce0c08;
}

.alerta p{
    display: inline-block
}

.alerta .Certo{

}

.Certo{
    display:inline-block;
}

.Errado::after{
    display: block;
    content: 'x';
    line-height: 13px;
    font-weight: bold;
}

.Certo:after{
    content: '';
    display: block;
    width: 7px;
    height:10px;
    position: relative;
    bottom: 1px;
    border: solid white;
    border-width: 0 2.5px 2.5px 0;
    transform: rotate(45deg);
}

.bola{
    background-color: #07be56;
    margin-right: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 23px;
    border-radius: 50%
}

.bolaErro{
    background-color: #ce0c08;
}




section.turmas{
    background-color: #8f2a54;
   
}


section.turmas h1{
    color: #fff;
    text-align: center;
    padding: 15px 0
}

section.turmas div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section.turmas div h3{
    display:flex;
    align-items:center;
    justify-content: center;
   color:white;
    width:100%;
    height:50px;
    font-size: 17px;
}

section.turmas div a{ 
    background-color: white;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    font-weight: bold;
    color: black;
    margin: 10px;
    font-size: 20px;
    border-radius: 5px
}

section.alunos{
    
    height: 100vh;
}

section.alunos h1{
    text-align: center;
    padding: 15px 0 0 0
}

section.alunos p{
    font-size: 14px;
    text-align: center;
    padding: 0 0 15px 0
}

.alunos table{
    background-color: antiquewhite;
    width: 100%;
}

.alunos table tr{
    background-color: #8f2a54;
    width: 100%;
    height: 40px;
    text-align: center;
    color: white;
}

.alunos table tbody tr{
    cursor: pointer;
}

.alunos table tr td:nth-child(1){
    width: 30px;
    
}

.alunos table tr td:nth-child(2){
    max-width: 10vw;
    
}

.alunos table tr td:last-child{
    width:9vw;
}

.nota-table{
    width:9vw;
   
}

tr:nth-child(even){
    background-color: #bb3a70;
    width: 100%;
}


.alunos table thead tr{
    background-color: #6f1f41;
    width: 100%;
    height: 50px;
}

.alunos table tr td p{
    line-height: 40px;
    height: 40px;
    font-size: 16px !important;
    max-width: 70vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    
    
}

.alunos table tr td:last-child p{
    
    font-size: 13px !important;
    
    max-width: 90%
    
}

.modal{
   
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
   
    
}

.modal.modal-ativo{
    display: block;
}

.fundo-modal{
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    top: 0;
    bottom: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 1;
}


.fundo-modal + div{
    position: absolute;
    background-color: white;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translateX(-50% )  translateY(-50% );
    border-radius:  10px 10px
}

.fundo-modal + div form{
    display: flex;
    justify-content: center;
    width: 300px;
    flex-wrap: wrap;
}

.nota-input{
    padding: 10px 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nota-input label{
    display: block;
    text-align: center
}

.nota-input input{
    font-size: 16px;
    width: 50px;
    padding: 4px;
    outline: none;
    border: 1px solid black;
    text-align: center
}

.modal input[type=submit]{
    width: 170px;
    height: 40px;
    background-color: purple;
    border: 0;
    color: white;
    font-weight: bold;
    cursor: pointer
}

.modal form + p{
    margin: 0 auto;
    color: black;
    text-align: center;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.modal span strong{
    display: block;
  
}

.tabs{
    width: 100%;
    position: relative;
    bottom: 20px;
    display: flex;
}

.tabs a{
    display: inline-block;
    background-color: white;
    height: 50px;
    line-height: 50px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    color:black;
}

.tabs a.tab-ativo{
    background-color: rgb(214, 212, 212);
    font-weight: bold;
    color: rgb(63, 63, 63)
}

.tabs a.bi{
    width: calc(100%/ 4);
}

.tabs a.tri{
    width: calc(100%/ 3);
}

.tabs a.semes{
    width: calc(100%/ 2);
}


.boletim{
    display: flex;
    flex-direction: column;
}

.boletim .info{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 7px 0;
   
}

.boletim .info p {
padding-right:6px
}

.boletim .info p strong{
    margin-right: 5px
}

.boletim .materia{
    display: flex;
    background-color: #bb3a70;
    color: white
}

.materia:nth-child(odd){
    background-color: #7a1e44;
}


.boletim .materia h3{
    width: 60%;
    word-wrap: break-word;
    font-size: 16px;
    text-align: center;
  
}


.boletim .materia div{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    
   
}

.boletim .materia div span{
   
width: 100%;
   
text-align: center;
}

@keyframes aparecerDesaparecer{
    0%{top: -100px;}
    25%{top: 50px;}
    75%{top: 50px;}
    100%{top: -100px;}
}

.alerta{
    z-index: 999;
    display: flex;
    align-items: center;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: fixed;
    top: -100px;
    left: 50%;
    transform:  translateX(-50%);
    border-radius: 5px;
    padding: 10px;
    color:white;
    animation-name: aparecerDesaparecer;
    animation-duration: 4s;
    /* animation-iteration-count:infinite; */
}

.alerta.deuCerto{
    background-color: #22e677;
    border-left: 5px solid #09d261;
}

.alerta.deuErrado{
    background-color: #f32723;
    border-left: 5px solid #ce0c08;
}

.alerta p{
    display: inline-block
}

.alerta .Certo{

}

.Certo{
    display:inline-block;
}

.Errado::after{
    display: block;
    content: 'x';
    line-height: 13px;
    font-weight: bold;
}

.Certo:after{
    content: '';
    display: block;
    width: 7px;
    height:10px;
    position: relative;
    bottom: 1px;
    border: solid white;
    border-width: 0 2.5px 2.5px 0;
    transform: rotate(45deg);
}

.bola{
    background-color: #07be56;
    margin-right: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 23px;
    border-radius: 50%
}

.bolaErro{
    background-color: #ce0c08;
}

