header{
   
    height: 50px;
   
}

header a{
    margin-right: 20px;
    color:black;
    background-color: white;
    padding: 7px 15px;
    border-radius: 100%/700px
    
}


table thead tr{
    background-color: #6f1f41;
    width: 100%;
    height: 45px;
    padding: 0 5px;
    font-size: 15px
}


table thead tr th:last-child{
    padding: 0 7px
}

.nota-table{
    display: none
}

.boletim .info{
 flex-direction: column;
}

.boletim .materia h3{
    width: 200px;
}

.mobile-hidden{
    display:none;
}